.react-autosuggest__suggestion-match {
  color: #007bff;
}

.react-autosuggest__container {
  width: 100%;
  max-height: 400px;
}

.react-autosuggest__input {
  width: 100%;
  padding: 4px;
}

.react-autosuggest__suggestions-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
