.c-Timesheet-weekPicker {
  margin-top: 0;
  &:hover {
    input {
      background-color: rgb(243, 242, 241);
      color: rgb(32, 31, 30);
    }
  }
  .ms-TextField-fieldGroup {
    height: 44px;

    i {
      position: relative;
      top: 0;
      right: 20px;
      align-self: center;
    }
  }
}

.c-Timesheet-weekpicker--callout {
  .ms-DatePicker-day--today {
    background-color: inherit !important;
    color: inherit !important;
    font-weight: inherit !important;
    border: none !important;
    outline: none !important;
  }

  .ms-DatePicker-day--highlighted {
    background-color: inherit !important;
    color: inherit !important;
    font-weight: inherit !important;
    border: none !important;
    outline: none !important;

    button {
      background-color: inherit !important;
      color: inherit !important;
      font-weight: inherit !important;
      border: none !important;
      outline: none !important;
    }
  }
}
