<div class="jumbotron">
  <div className="container">
    <div className="row">
      <div className="col-sm">
        <center><img src="/images/did365logobeta.png" width="175px">
        <p><i>The Calendar is the Timesheet</i></p>
        </center>
      </div>
    </div>
  </div>
</div>