.c-Timesheet {
  .c-Timesheet-actions {
    margin: 10px 0 10px 0;
  }

  .c-Timesheet-statusbar {
    min-height: 40px;

    .c-UserMessage {
      margin: 5px 0;
    }
  }

  .ms-MessageBar-icon {
    display: flex;
    align-self: center;
  }

  .ms-DetailsRow-check,
  .ms-DetailsRow-cellCheck,
  .ms-DetailsHeader-cellIsCheck {
    display: none;
  }

  .ms-DetailsHeader-cellName,
  .ms-GroupHeader-title {
    font-weight: normal;
    font-size: 1.2em;
    letter-spacing: 1px;
  }

  .ms-DetailsRow-cell {
    background: transparent;
    font-size: 1.2em;
    align-self: center;
    padding: 0px 12px;

    span,
    a {
      font-size: 1em;
    }
  }

  .ms-FocusZone.ms-DetailsRow {
    border: none;
  }

  .ms-List-page {
    background: transparent;

    .ms-GroupedList-group {
      margin-top: 1.5em;
      padding-bottom: 1em;
      background: $lightgray_background;

      .ms-GroupHeader {
        border-bottom: 0px;
        &:hover {
          background: $lightgray_background;
        }
      }

      .ms-List-cell {
        .ms-DetailsRow {
          background: transparent;

          &:hover {
            background: $lightgray_background;
          }
        }
      }
    }
    div.ms-List-cell {
      min-height: 0;
      .ms-DetailsRow {
        min-height: 45px;

        .ms-DetailsRow-cell {
          font-size: 1.2em;
          display: flex;
          align-items: center;

          span,
          a {
            vertical-align: middle;
          }
        }
      }
    }
  }
}

.c-ResolveProjectModal {
  padding: 20px;
  width: 540px;
  min-width: 540px;
  max-width: 540px;

  .c-ResolveProjectModal-title {
    font-size: 1.6em;
    margin: 0 0 12px 0;
  }
}
